<div class="table-responsive">
    <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Id Subscriptor</th>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <% @subscriptors.each do |subscriptor| %>
                <tr>
                    <td><%= subscriptor.id %></td>
                    <td><%= subscriptor.name %></td>
                    <td><%= subscriptor.email %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>