<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= @title%></title>
</head>
<body> 
    <p>
       We have a new post to you. <br> 
       <%= link_to "Click here", @url %>
    </p>
</body>
</html>