<h2>Add Comment</h2>

<%= form_for ([@post, @post.comments.build]) do |f| %>
    <div class="form-group">
    <label for="">Comment</label>
        <%= f.text_area :comment, class: "form-control" %>
    <p>
        <%= f.button "Save Comment", class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Publishing..."} %>
    </p>
    </div>
<% end %>