<footer class="blog-footer">
  <p>Blog template built for <a href="https://makeireal.camp/">MakeitReal</a> by <a href="https://twitter.com/you">@you</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>